* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

* li {
    list-style-type: none;
}

.flex-btw {
    display: flex;
}

.flex-ard {
    display: flex;
    justify-content: space-around;
}

.expense-h1 {
    color: #ff6d28;
}

.trans-03,
.form-input input[type="submit"],
.sidebar,
.t-tip,
.sort-btn,
.filter {
    transition: all 0.3s ease-in-out;
}

body {
    /* background: whitesmoke; */
    position: relative;
    background: rgb(255, 255, 255);
    background: linear-gradient( 90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 109, 40, 1) 49%, rgba(255, 240, 0, 1) 100%);
    font-family: "Poppins", sans-serif;
}

.max {
    position: fixed;
    bottom: 1%;
    left: 7%;
    z-index: 99;
    border: none;
    background: whitesmoke;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.max.move {
    left: 13%;
    transform: rotate(180deg);
}

.max img {
    width: 100%;
    height: 100%;
}

.form-input input,
select,
option,
button {
    background: #eee;
    font-family: "Poppins", sans-serif;
}

.required {
    color: red;
}

form {
    width: 400px;
    margin: 6rem auto;
    background: #fff;
    padding: 1rem;
    border-radius: 4px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem 0;
}

.form-input {
    margin: 10px 0;
    width: 100%;
    flex-wrap: wrap;
}

.error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.last-input {
    width: 100%;
    text-align: center;
}

.last-input a {
    text-decoration: none;
    color: #ff6d28;
}

.label {
    display: flex;
    justify-content: space-between;
}

.lname-label {
    margin-left: 86px;
}

.label label {
    text-align: center;
}

.input {
    display: flex;
    justify-content: space-between;
}

.fname,
.lname,
.oname {
    width: 20px;
    margin: 0 5px;
    font-size: 13px;
}

label {
    display: block;
    margin: 6px;
    color: grey;
}

.form-input input,
.form-input select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: rgb(75, 75, 75);
}

.form-input input[type="submit"] {
    /* background: #fbd0d9; */
    background: rgb(255, 255, 255);
    background: linear-gradient( 90deg, rgba(255, 109, 40, 1) 49%, rgba(255, 240, 0, 1) 100%);
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.form-input input[type="submit"]:hover {
    transform: scale(1.05);
}

input:focus,
select:focus {
    outline: none;
}


/* Accounts */

.transact {
    position: relative;
    width: 550px;
    height: 500px;
}

.sidebar {
    position: relative;
    width: 76px;
    height: 100vh;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 999;
}

.sidebar.move {
    width: 150px;
}

.prof {
    position: absolute;
    bottom: 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0.5rem 1.1rem;
    left: 90%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
}

.t-tip a {
    text-decoration: none;
    color: #fff;
}

.t-tip {
    position: absolute;
    bottom: 10%;
    width: 90%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background: #ff6d28;
    font-size: 13px;
    border-radius: 4px;
}

.t-tip.hide {
    transform: scale(0);
}

.side-links {
    margin-top: 3rem;
}

.side-links li {
    padding: 10px 25px;
    margin: 15px 0;
}

.side-content.active {
    border-right: 2px solid #000;
}

.side-content span {
    margin: auto 0;
}

.side-links a {
    display: block;
    color: #000;
}

.trans-header {
    margin-top: 2rem;
}

.sort {
    margin: 1rem 0;
}

.sort-btn {
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sort-btn.active {
    background: #ff6d28;
}

.null-form {
    width: auto;
    background-color: red;
}

.filter img {
    width: 100%;
    height: 100%;
}

.filter {
    width: 30px;
    margin: auto 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.filter:hover {
    transform: scale(1.2);
}

.header-info {
    color: rgb(151, 151, 151);
}

.b-info {
    font-weight: 700;
}

.b-info:nth-child(2) {
    margin-right: 90px;
}

.hr {
    background: rgb(187, 187, 187);
    height: 3px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 20px 0;
}

.transactions {
    height: 100vh;
}

.trans-details.hide {
    display: none;
}

.add {
    border: none;
    padding: 0 11px;
    color: #fff;
    border-radius: 50%;
    font-size: 15px;
    background: linear-gradient( 90deg, rgba(255, 109, 40, 1) 49%, rgba(255, 240, 0, 1) 100%);
    cursor: pointer;
}

.add.rotate {
    transform: rotate(45deg);
}

.dets {
    /* background: #eee; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
}

.info-h {
    font-size: 15px;
}

.info-span {
    color: rgb(151, 151, 151);
    font-size: 13px;
}

.price {
    margin: auto 0;
}

.expenses .price {
    color: rgb(255, 0, 0);
}

.income .price {
    color: rgb(0, 255, 0);
}

.overview {
    padding: 3rem;
    width: 500px;
}

.scale-form {
    position: fixed;
    left: 20%;
    top: 20%;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 99;
}

.scale-form.hide {
    /* display: none; */
    transform: scale(0);
}

main {
    display: flex;
    height: 100vh;
}

.dish {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 20px;
}

.tansactions_one {
    width: 45%;
}

.transaction_heading {
    display: flex;
    justify-content: space-between;
}

.transaction_header {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.header-info {
    margin-right: 95px;
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.overview_one {
    width: 45%;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}