@media screen and (max-width: 900px) {
  .nav-ul {
    display: none;
  }
  .trans-over {
    grid-template-columns: 1fr;
  }
  .transact {
    padding: 1rem;
  }
  .scale-form {
    left: 0;
    width: 100%;
  }
  .max.move {
    left: 50%;
  }
  .sidebar {
    width: 0px;
  }
  .overview {
    padding: 1rem;
  }
}
