* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex-btw {
  display: flex;
  justify-content: space-between;
}
body {
  font-family: "Poppins", sans-serif;
}
.form-input input,
select,
option {
  background: #eee;
  font-family: "Poppins", sans-serif;
}
.required {
  color: red;
}
form {
  width: 400px;
  margin: 6rem auto;
  background: #fff;
  padding: 1rem;
  border-radius: 4px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem 0;
}
.form-input {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.error-msg {
  margin: 10px 0;
  display: block;
  background: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.last-input {
  width: 100%;
  text-align: center;
}
.last-input a {
  text-decoration: none;
  color: crimson;
}
.label {
  display: flex;
  justify-content: space-between;
}
.lname-label {
  margin-left: 86px;
}
.label label {
  text-align: center;
}
.input {
  display: flex;
  justify-content: space-between;
}
.fname,
.lname,
.oname {
  width: 20px;
  margin: 0 5px;
  font-size: 13px;
}
label {
  display: block;
  margin: 6px;
  color: grey;
}
.form-input input,
.form-input select {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  color: rgb(75, 75, 75);
}
.form-input input[type="submit"] {
  background: #fbd0d9;
  color: crimson;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form-input input[type="submit"]:hover {
  background: rgb(255, 0, 0);
  color: #fff;
}
input:focus,
select:focus {
  outline: none;
}
/* Accounts */
.bill {
  width: 300px;
  margin: 3rem auto;
  color: #fff;
}
.balance {
  background: #ff731d;
  border-radius: 4px;
  padding: 10px;
  margin: 1rem 0;
}
.bill-details {
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  color: #000;
}
.bill-details h1{
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}
.bills{
    background: #eee;
    border-radius: 4px;
}
.span-bill{
    font-size: 12px;
    font-weight: bold;
}
.cashflow h2, .cashflow h3{
font-weight: normal;
}
.bill-it span{
    font-size: 10px;
}
.bill-it span:nth-child(2){
    margin-left: 20px;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
}

.container .content {
  text-align: center;
}

.container .content h3 {
  font-size: 30px;
  color: #333;
}

.container .content h3 span {
  background: crimson;
  color: #fff;
  border-radius: 5px;
  padding: 0 15px;
}

.container .content h1 {
  font-size: 50px;
  color: #333;
}

.container .content h1 span {
  color: crimson;
}

.container .content p {
  font-size: 25px;
  margin-bottom: 20px;
}

.container .content .btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 20px;
  background: #333;
  color: #fff;
  margin: 0 5px;
  text-transform: capitalize;
}

.container .content .btn:hover {
  background: crimson;
}
